{% extends 'appWebTemplates/baseWeb.html' %}

{% load static %}

{% block contenido %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h2>Creacion de cuentas de usuario</h2>
                <div class="row">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            {{ form.non_field_errors }}
                            <div class="col-3">
                                <label for="rutUsuario">Rut</label>
                                {{ form.rutUsuario }}
                                {{ form.rutUsuario.errors }}
                            </div>
                            <div class="col-3">
                                <label for="username">Cuenta usuario</label>
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                            <div class="col-3">
                                <label for="tipoUsuario">Tipo de cuenta</label>
                                {{ form.tipoUsuario }}
                                {{ form.tipoUsuario.errors }}
                            </div>
                            <div class="col-3">
                                <label for="password1">Confirmar contraseña</label>
                                {{ form.password1 }}
                                {{ form.password1.errors }}
                            </div>
                            <div class="col-3">
                                <label for="password2">Confirmar contraseña</label>
                                {{ form.password2 }}
                                {{ form.password2.errors }}
                            </div>
                            <div class="col-3">
                                <label for="first_name">Nombre</label>
                                {{ form.first_name }}
                                {{ form.first_name.errors }}
                            </div>
                            <div class="col-3">
                                <label for="last_name">Apellido</label>
                                {{ form.last_name }}
                                {{ form.last_name.errors }}
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button class="btn btn-success" type="submit">Guardar</button>
                                <a href="{% url 'usuarios' %}"><button type="button" class="btn btn-secondary">Volver</button></a>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock contenido %}